.element {
  width: 282px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 282px minmax(min-content, max-content);
  border-radius: 10px;
  position: relative;
}