.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding-left: 27px;
    padding-bottom: 36px;
  }
}