.element__delete-button {
  all: unset;
  background-image: url(../../../images/element_trash_can.svg);
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity .4s ease;
  visibility: hidden;
}

.element__delete-button:hover {
  opacity: .6;
}