.profile__edit-button {
  all: unset;
  background-image: url(../../../images/profile_edit_pencil.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: 1px solid #FFF;
  cursor: pointer;
  transition: opacity .4s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}